<section class="container">
    <mat-drawer-container class="container-drawer">
        <mat-drawer #drawer [mode]="'push'">
            <div class="container-btn-close-menu">
                <button class="btn-close-menu" mat-raised-button (click)="drawer.toggle()">
                    <mat-icon class="icon-btn-close-menu">chevron_left</mat-icon>
                </button>
            </div>
            <app-layout-menu-lateral></app-layout-menu-lateral>
        </mat-drawer>
        <mat-drawer-content>
            <button class="btn-open-menu" mat-raised-button (click)="drawer.toggle()" *ngIf="!drawer.opened">
                <mat-icon class="icon-btn-open-menu">chevron_right</mat-icon>
            </button>
            <article class="container-contant">
                <section>
                    <article>
                        <app-layout-header></app-layout-header>
                    </article>
                </section>
                <section class="body-content">
                    <article>
                        <ng-content></ng-content>
                    </article>
                </section>
                <section>
                    <article>
                        <app-layout-footer></app-layout-footer>
                    </article>
                </section>
            </article>
        </mat-drawer-content>
    </mat-drawer-container>
</section>