<div style="display: flex; flex-wrap: wrap; gap: 20px;">
    <app-kpis></app-kpis>
    <div style="display: grid; grid-template-columns: 1fr 2fr; gap: 10px; flex-grow: 1;">
        <div>
            <app-grafico-situacao-licenca></app-grafico-situacao-licenca>
        </div>
        <div>
            <app-grafico-finaceiro></app-grafico-finaceiro>
        </div>
        <div>
            <app-grafico-distrubuicao-cliente-planos></app-grafico-distrubuicao-cliente-planos>
        </div>
        <div>
            <app-grafico-distrubuicao-planos-anualmente></app-grafico-distrubuicao-planos-anualmente>
        </div>
        <div>
            <app-grafico-distrubuicao-clientes-forma-pagamento></app-grafico-distrubuicao-clientes-forma-pagamento>
        </div>
        <div>
            <app-grafico-distrubuicao-planos-mensalmente></app-grafico-distrubuicao-planos-mensalmente>
        </div>
    </div>
    <div style="display: grid; grid-template-columns: 1fr 2fr; flex-grow: 1; gap: 10px;">
        <app-grafico-situcao-clientes></app-grafico-situcao-clientes>
        <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px;">
            <app-grafico-assinado-portal></app-grafico-assinado-portal>
            <app-grafico-situacao-contrato></app-grafico-situacao-contrato>
        </div>
    </div>
    <app-cards></app-cards>
    <app-painel></app-painel>
</div>
