<div style="display: flex; flex-wrap: wrap; gap: 20px;">
    <app-kpis></app-kpis>
    <div style="display: grid; grid-template-columns: 1fr 2fr; gap: 10px; flex-grow: 1;">
        <div>
            <app-grafico-situacao-cliente></app-grafico-situacao-cliente>
        </div>
        <div>
            <app-grafico-finaceiro></app-grafico-finaceiro>
        </div>
        <div>
            <app-grafico-distrubuicao-cliente-planos></app-grafico-distrubuicao-cliente-planos>
        </div>
        <div>
            <app-grafico-distrubuicao-planos-anualmente></app-grafico-distrubuicao-planos-anualmente>
        </div>
        <div>
            <app-grafico-distrubuicao-clientes-forma-pagamento></app-grafico-distrubuicao-clientes-forma-pagamento>
        </div>
        <div>
            <app-grafico-distrubuicao-planos-mensalmente></app-grafico-distrubuicao-planos-mensalmente>
        </div>
    </div>
    <app-cards></app-cards>
</div>