.container-title {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;
}

.titulo {
    display: flex;
    box-sizing: border-box;
    justify-content: left;
    align-items: center;
    font-size: 23px;
    color: #606060;
    font-weight: bolder;
    background-color: #fff;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-shadow: 2px 1px #c7c7c7;
    margin: 0;
}