<div class="container-grafico">
    <span class="title-custom">Distribuição dos Contratos por Situação
        <mat-icon class="icon-info"
            matTooltip="Este gráfico apresenta a distribuição dos contratos em diferentes situações (ativos, vencidos, cancelados, etc.), com base nos dados mais recentes."
            matTooltipShowDelay="500" matTooltipHideDelay="300" matTooltipPosition="above">info</mat-icon>
    </span>
    <p-chart type="pie" [data]="data" [options]="options" height="20rem" class="grafico" />
</div>