<div class="menu-lateral-content">
    <ul class="menu-list">
        <li class="menu-list-item">
            <a class="item-menu" [routerLink]="['/clientes']">
                Tabela de Clientes
                <mat-icon>open_in_new</mat-icon>
            </a>
        </li>
        <li class="menu-list-item">
            <a class="item-menu" [routerLink]="['/fazendas']">
                Tabela de Fazendas
                <mat-icon>open_in_new</mat-icon>
            </a>
        </li>
        <li class="menu-list-item">
            <a class="item-menu" [routerLink]="['/home/contrato']">
                Tabela dos Contratos
                <mat-icon>open_in_new</mat-icon>
            </a>
        </li>
    </ul>
</div>