<div class="container-grafico">
    <span class="title-custom">Distribuição de Clientes por Situação
        <mat-icon class="icon-info"
            matTooltip="Este gráfico mostra a distribuição dos clientes entre as diferentes situações (ativas, inativas, suspensas, etc.), considerando as informações mais recentes de cada cliente."
            matTooltipShowDelay="500" matTooltipHideDelay="300" matTooltipPosition="above">info</mat-icon>
    </span>
    <p-chart type="pie" [data]="data" [options]="options" height="20rem" class="grafico" />
</div>