<app-card title="Licenças Ativas:" [number]="10" ></app-card>
<app-card title="Licenças Expiradas:" [number]="10" ></app-card>
<app-card title="Total de Licenças:" [number]="20" ></app-card>
<app-card title="Licenças Compradas Em 2025:" [number]="10" ></app-card>
<app-card title="Valor Recebido Rste Mês:" [number]="10" ></app-card>
<app-card title="Valores à Receber:" [number]="10" ></app-card>
<app-card title="Boletos Emitidos Este Mês:" [number]="10" ></app-card>
<app-card title="Licenças Perto do Vencimento:" [number]="10" ></app-card>
<!-- <app-card title="Licenças Expiradas:" [number]="10" ></app-card> -->