.mat-mdc-tooltip-surface {
    background-color: #4CAF50 !important;
    // min-width: auto !important;
    max-width: max-content !important;
    font-size: 15px !important;
    color: #FFF !important;
    min-height: 40px !important;
    border-radius: 8px !important;
    display: flex;
    padding: 10px !important;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}