.container-filters {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 6px;
}

.filters {
    min-width: 20%;
}

.filters-custom {
    min-width: 35%;
    flex-grow: 1;
}