<section class="container-btn-link-page-anterior">
  <a class="btn-link-page-anterior" [routerLink]="['/home']" matRipple matRippleColor="#f3f3f3">
    <span class="btn-link-page-anterior-content">Voltar</span>
  </a>
</section>
<div #containerTabela class="container-tabela">
  <form [formGroup]="context.formConsulta" class="container-filters">
    <section class="filters-custom">
      <mat-form-field appearance="fill">
        <mat-label>Buscar pelo nome</mat-label>
        <input matInput type="text" formControlName="nome">
      </mat-form-field>
    </section>
    <section class="filters-custom">
      <mat-form-field appearance="fill">
        <mat-label>Buscar pelo CPF</mat-label>
        <input matInput type="text" formControlName="cpf" mask="000.000.000-00" [dropSpecialCharacters]="false">
      </mat-form-field>
    </section>
  </form>

  <mat-divider class="separador"></mat-divider>

  <table mat-table [dataSource]="Grid.PaginationResult.items" matSort>

    <!-- Colunas da tabela -->

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.nome | nullEmptyCheck }} </td>
    </ng-container>

    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> CPF </th>
      <td mat-cell *matCellDef="let cliente"> {{ cliente.cpf | nullEmptyCheck | cpfFormat }} </td>
    </ng-container>

    <ng-container matColumnDef="situacao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Situação </th>
      <td mat-cell *matCellDef="let cliente"> {{ cliente.situacao | situacaoCliente }} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.email | nullEmptyCheck }} </td>
    </ng-container>

    <ng-container matColumnDef="telefone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefone </th>
      <td mat-cell *matCellDef="let cliente"> {{cliente.telefone | nullEmptyCheck }} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let cliente">
        <a class="link-table-item" routerLink='/home/detalhes/teste/{{cliente.id}}'>
          <mat-icon class="link-table-icon">open_in_new</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <div class="tabela-vazia" *ngIf="!Grid.PaginationResult.items || Grid.PaginationResult.items.length == 0">
    <p class="msg-tabela-vazia">Sem resultados para a consulta...</p>
  </div>

  <mat-paginator [length]="Grid.PaginationResult.totalElements" [pageSize]="Grid.PaginationResult.pageSize"
    [pageIndex]="Grid.PaginationResult.pageNumber - 1" [pageSizeOptions]="[5, 10, 25, 50, 100]"
    [showFirstLastButtons]="true" (page)="getClientes($event)">
  </mat-paginator>

</div>